<div class="container">
  <div class="row justify-content-center padding-top-bottom">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h4 class=" text-dark mb-4">Olvidaste tu contraseña?</h4>
                  <h6 class="text-gris pb-4">
                    Lo entendemos, suceden cosas. ¡Simplemente ingrese su dirección de correo electrónico a continuación
                    y le enviaremos un enlace para restablecer su contraseña!</h6>
                </div>
                <form class="user">
                  <div class=" mb-5">
                    <span class="p-float-label">
                      <input pInputText id="email" formControlName="email" class="form-control-user" />
                      <label htmlFor="email">Email</label>
                    </span>

                  </div>


                  <div class="">
                    <button type="submit" pButton pRipple label="Restablecer contraseña" icon="pi pi-lock-open"
                      class="btn-resetPass btn-orange"></button>
                  </div>
                </form>
                <hr>
                <div class="text-center">
                  <a routerLink="/auth/register" class="small">Registrate</a>
                </div>
                <div class="text-center">
                  <a routerLink="/auth/login" class="small">¿Ya tienes una cuenta? Iniciar sesión!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
