<div class="container-fluid">

  <div class="p-fluid grid">
    <form class="col-12" [formGroup]="formGroupSearch" (submit)="searchSinister()">

      <p-card>
        <p-toast></p-toast>
        <div class="grid">
          <div class="lg:col-12">
            <p class="fs-3 text-uppercase">Nuevo<span class="text-orange"> siniestro</span> </p>
            <p class="fs-6 text-uppercase">Buscar polizas</p>
          </div>

          <div class="lg:col-4 md:col-12 py-2">
            <span class="p-float-label">
              <input pInputText id="nombre" formControlName="documentoId" />
              <label htmlFor="nombre">DNI o NIE del cliente</label>
            </span>
            <small *ngIf="noEsValido('documentoId',formGroupSearch)">{{ getMensaje('documentoId',formGroupSearch)
              }}</small>
          </div>

          <div class="md:col-4 lg:col-2 ms-3">
            <button type="submit" pButton pRipple label="Buscar" icon="pi pi-search" class="btn-orange"></button>
          </div>
        </div>

      </p-card>

    </form>

    <p-card class="col-12">
      <div *ngIf="!showTable" class="messagg">
        <p>Indique el dni de un cliente o un número de poliza para realizar la <br> busqueda de las/la polaizas
          correspondientes</p>
      </div>
      <p-table *ngIf="showTable" [value]="policies" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:10%">Nº</th>
            <th style="width:10%">Fecha inicio</th>
            <th style="width:10%">Fecha fin</th>
            <th style="width:10%">Estado</th>
            <th style="width:10%">Modalidad</th>
            <th style="width:10%">Prima</th>
            <th style="width:20%">Nº Cuenta</th>
            <th style="width:10%">Añadir siniestro</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-policy>
          <tr>
            <td>{{ policy.nuPoliza }}</td>
            <td>{{ policy.feInicio }}</td>
            <td>{{ policy.feVencimiento }}</td>
            <td>{{ policy.idSituacionPoliza.descripcion }}</td>
            <td>{{ policy.idModalidad.descripcion }}</td>
            <td>{{ policy.prima }},00 €</td>
            <td>{{ policy.nuCuenta }}</td>
            <td style="text-align: center;"><span class="bi bi-plus-circle-fill fs-2" pTooltip="Detalles del riesgo"
                tooltipPosition="left" style="color: blue"></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <p-card class="col-12 mt-3">
      <form class="col-12" [formGroup]="formGroupNewSinister">
        <div class="grid">
          <div class="lg:col-12">
            <p class="fs-6 text-uppercase">Datos siniestro</p>
          </div>
        </div>

        <div class="grid">
          <div class="lg:col-2 md:col-6 py-4">
            <span class="p-float-label">
              <input pInputText id="refSiniestro" pKeyFilter="int" formControlName="ref_sinister" />
              <label for="refSiniestro">Referencia siniestro</label>
            </span>
            <small *ngIf="noEsValido('ref_sinister',formGroupNewSinister)">{{
              getMensaje('ref_sinister',formGroupNewSinister) }}</small>
          </div>
        </div>

        <div class="grid">
          <div class="lg:col-4 md:col-6 py-4">
            <span class="p-float-label">
              <p-calendar [readonlyInput]="true" [showIcon]="true" dateFormat="dd/mm/yy"
                formControlName="fe_dano"></p-calendar>
              <label for="numero">Fecha del daño</label>
            </span>
            <small *ngIf="noEsValido('fe_dano',formGroupNewSinister)">{{ getMensaje('fe_dano',formGroupNewSinister)
              }}</small>
          </div>

          <div class="lg:col-4 md:col-6 py-4">
            <span class="p-float-label">
              <p-dropdown [options]="state" optionLabel="state" inputid="estado" formControlName="state"></p-dropdown>
              <label for="estado">Estado</label>
            </span>
            <small *ngIf="noEsValido('state',formGroupNewSinister)">{{ getMensaje('state',formGroupNewSinister)
              }}</small>
          </div>

          <div class="lg:col-4 md:col-6 py-4">
            <span class="p-float-label">
              <textarea formControlName="descripcion" id="descripcion" rows="1" cols="30" pInputTextarea></textarea>
              <label for="descripcion">Descripción</label>
            </span>
            <small *ngIf="noEsValido('descripcion',formGroupNewSinister)">{{
              getMensaje('descripcion',formGroupNewSinister) }}</small>
          </div>
        </div>

        <div class="grid py-2">
          <div class="lg:col-2 md:col-6">
            <button type="submit" pButton pRipple label="Guardar" icon="pi pi-save" class="btn-orange"></button>
          </div>
          <div class="lg:col-2 md:col-6">
            <button pButton pRipple (click)="clearForm()" label="Cancelar" icon="pi pi-times"
              class="btn-orange"></button>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>


<!-- <div class="lg:col-4 md:col-6 py-4">
          <span class="p-float-label">
            <p-calendar [readonlyInput]="true" dateFormat="dd/mm/yy" [showIcon]="true"
              formControlName="fe_inicio_rep"></p-calendar>
            <label for="numero">Fecha inicio reparación</label>
          </span>
          <small *ngIf="noEsValido('fe_inicio_rep',formGroupNewSinister)">{{ getMensaje('fe_inicio_rep',formGroupNewSinister) }}</small>
        </div> -->

<!-- <div class="lg:col-2 md:col-6 py-4">
          <span class="p-float-label">
            <p-inputNumber mode="currency" formControlName="coste" inputId="currency-germany" currency="EUR"
              locale="de-DE"> </p-inputNumber>
            <label for="numero">Coste</label>
          </span>
          <small *ngIf="noEsValido('coste',formGroupNewSinister)">{{ getMensaje('coste',formGroupNewSinister) }}</small>
        </div> -->

<!-- <div class="lg:col-8 md:col-6 py-4">
          Peritado:
          <p-radioButton formControlName="peritado" value="S" inputId="yes" class="ml-2"></p-radioButton>
          <label for="yes" class="ml-2">Sí</label>
          <p-radioButton formControlName="peritado" value="N" inputId="no" class="ml-2"></p-radioButton>
          <label for="no" class="ml-2">No</label><br>
          <small *ngIf="noEsValido('peritado',formGroupNewSinister)">{{ getMensaje('peritado',formGroupNewSinister) }}</small>
        </div>-->
