:host ::ng-deep .p-element {
  border-top-right-radius   : 6px;
  border-bottom-right-radius: 6px;
}

:host ::ng-deep .p-element, .p-ripple, .p-datepicker-trigger, .p-button-icon-only {
  opacity: initial;
}

:host ::ng-deep .p-inputtext, .p-component, .ng-star-inserted {
  opacity: initial;
}
