<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
        <h2 class="line-bottom text-center mb-4">Tarifas</h2>
        <p>En Segur<b>Hogar,</b> creemos que la seguridad y la tranquilidad no deben estar fuera del alcance de nadie. Es por eso que hemos diseñado nuestras tarifas de seguros pensando en ti y en tus necesidades de protección.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="00">
        <div class="pricing">
          <!-- <div class="pricing-img mb-4"><img src="images/1x/asset-1.png" alt="Image" class="img-fluid"></div> -->
          <div class="pricing-body">

            <h3 class="pricing-plan-title">Tarifa Básica</h3>
            <div class="price"><span class="fig">100€</span><span>/año</span></div>
            <p class="mb-4">Tenemos una tarifa que se adapta a tu presupuesto y a tus requerimientos específicos. Tu seguro de hogar a tu medida.</p>
            <p><i class="bi bi-check2-all color-check fs-4"></i> Tus daños materiales, 100% cubiertos.</p>
            <p><i class="bi bi-check2-all color-check fs-4"></i> Te ofrecemos nuestro servicio de asisitencia urgente.</p>
            <p><a (click)="clickContratalo()" class="btn btn-outline-primary">Contrátalo</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="pricing">
          <!-- <div class="pricing-img mb-4"><img src="images/1x/asset-2.png" alt="Image" class="img-fluid"></div> -->
          <div class="pricing-body">

            <h3 class="pricing-plan-title">Tarifa Intermedia</h3>
            <div class="price"><span class="fig">200€</span><span>/año</span></div>
            <p class="mb-4">Además de las coberturas de la tarifa básica también tendrás</p>
            <p><i class="bi bi-check2-all color-check fs-4"></i> Servicio de Asistencia Informátiva</p>
            <p><i class="bi bi-check2-all color-check fs-4"></i> Daños materiales</p>
            <p><i class="bi bi-check2-all color-check fs-4"></i> Robo, hurto y apropiación indebida</p>
            <p><i class="bi bi-check2-all color-check fs-4"></i> Asistencia en actividades online de trabajo, estudio, ocio y compras</p>
            <p><a (click)="clickContratalo()" class="btn btn-outline-primary">Contrátalo</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="pricing">
          <!-- <div class="pricing-img mb-4"><img src="images/1x/asset-3.png" alt="Image" class="img-fluid"></div> -->
          <div class="pricing-body">

            <h3 class="pricing-plan-title">Tarifa Completa</h3>
            <div class="price"><span class="fig">400€</span><span>/año</span></div>
            <p class="mb-4">Beneficiate de las garantías de la tarifa intermedia y también:</p>
            <p><i class="bi bi-check2-all color-check fs-4"></i> Desplazamiento temporal de los bienes asegurados</p>
            <p><i class="bi bi-check2-all color-check fs-4"></i> Asistencia urgente</p>
            <p><i class="bi bi-check2-all color-check fs-4"></i> Defensa jurídica</p>
            <p><a (click)="clickContratalo()" class="btn btn-outline-primary">Contrátalo</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
