<div class="container-fluid">
  <div class="p-fluid grid">
  <p-card class="col-12">
    <div class="messagg grid">
      <p class="col-12">Para contratar nuevas polizas o reportar siniestros<br>
         puede contactar con los gestores en los siguientes números.</p>
      <p class="col-12">Luna Rodriguez<i class="px-5 text-primary bi bi-telephone-forward"> +34(123)-456-7890</i>
        <br>
        José Escobar<i class="px-5 text-primary bi bi-telephone-forward"> +34(123)-456-7890</i>
      </p>
    </div>
  </p-card>
</div>
</div>
